@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(58, 57, 57);
    font-family: Mulish, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.key {
    border-top: 10px solid #999;
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    flex-direction: column;
    margin: 20px;
    min-width: 150px;
    position: relative;
}

.key small {
    color: #fff;
    position: absolute;
    top: -36px;
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 14px;
}

#hint {
    color: #fff;
    margin-bottom: 40px;
    font-size: 20px;
}